<h1> <%=@guest.name%>% </h1>

<h2> Rooms </h2>
<ul>
    <% @guest.rooms.each do |room| %>
        <li>
            Suite: <%= room.suite %>
            Rate: <%= room.rate %>
            Hotel: <%= room.hotel.name %>
        </li>
    <% end %>
</ul>

