<h1> Guest Info </h1>
<p>Name: <%= @guest.name %></p>

<h2> Room History </h2>
<% @guest.rooms.each do |room| %>
  <p><strong>Hotel: <%= room.hotel.name %></strong></p>
  <p>Suite: <%= room.suite %></p>
  <p>Rate: $<%= room.rate %></p>
  <% end %>