<div id="rooms_list">
  <h2>Rooms: </h2>
  <% @rooms.each do |room| %>
  <ul>
    <li>Suite: <%= room.suite %></li>
    <li>Rate: <%= room.rate %></li>
    <li>Hotel Name: <%= room.hotel.name %></li>
    <li>Number of Guests: <%= room.guest_count %></li>
  </ul>
  <% end %>
</div>
